# ignore these files
Notes_To_Self.txt
R/dist.R
R/misc_code.R
R/old_prop_algo.R
R/test.R

# ignore large file
COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv

# ignore following directories
Writing/
Progress_Updates/
Model_Trial/
*.zip